Flask==0.10.1
-e git+https://github.com/wehlutyk/flask-browserid.git@fe7fc6d1183c3fb08cb7e5b0f3145ca0506df79a#egg=Flask_BrowserID-dev
Flask-Login==0.1.3
Flask-Script==0.5.3
Flask-WTF==0.8.3
Jinja2==2.7
MarkupSafe==0.18
Pygments==1.6
Sphinx==1.2b1
WTForms==1.0.4
Werkzeug==0.9.1
argparse==1.2.1
distribute==0.6.34
docutils==0.10
ecdsa==0.8
flake8==2.0
flask-mongoengine==0.7.0
gunicorn==0.17.4
ipdbplugin==1.2
ipython==0.13.2
itsdangerous==0.21
mccabe==0.2.1
mongoengine==0.8.2
nose==1.3.0
pep8==1.4.5
pyflakes==0.7.2
pymongo==2.5.2
-e git+https://github.com/wehlutyk/python-jws.git@6993c289de2a3170db5355bed7b0c00023ed6c54#egg=python_jws-dev
requests==1.2.3
vim-bridge==0.5
wsgiref==0.1.2
