Flask==0.9
-e git+https://github.com/wehlutyk/flask-browserid.git@5e741b588762742c050509c23cb861a4f3bbb0da#egg=Flask_BrowserID-dev
Flask-Login==0.1.3
Flask-Script==0.5.1
Flask-WTF==0.8
Jinja2==2.6
Pygments==1.6rc1
Sphinx==1.1.3
WTForms==1.0.2
Werkzeug==0.8.3
argparse==1.2.1
distribute==0.6.24
docutils==0.10
ecdsa==0.8
flask-mongoengine==0.6
gunicorn==0.17.2
mongoengine==0.7.7
nose==1.2.1
pymongo==2.4.1
-e git+https://github.com/wehlutyk/python-jws.git@6993c289de2a3170db5355bed7b0c00023ed6c54#egg=python_jws-dev
requests==0.14.2
wsgiref==0.1.2
